.main {
    color: black;
    justify-content: center;
}

.hero {
    background-color: #FFE7D4;
    padding: 15px;
    margin: 0 -2rem;
    
}

.description {
    color: rgb(0, 0, 0);
    font-family: '__Inter_9c9965', '__Inter_Fallback_9c9965';
    font-weight: bold;
    display: none;
}

.photo {
    margin-bottom: -100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid white;
}

.imageProfile{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card {
    background-color: #faefea;
}

.title {
    margin-top: 70px;
    font-weight: bold;
    font-size: 40px;
    font-family: Roboto;
    line-height: 30px;
    padding: 15px 0 20px 0;
    /* color:#913a15; */
    color: #c35725;
}

.subTitle {
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    line-height: 30px;
    padding: 10px 0;
}

.text {
    font-family: Roboto;
    color: #686868;
    font-size: 1.5rem;
    padding: 10px 20px;
}

.text:hover {
    border: solid 1px rgb(190, 190, 190);
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .photo {
        width: 300px;
        height: 560px;
        object-fit: cover;
        border-radius: 40px 0;
        justify-self: flex-end;
    }

    .hero {
        min-height: 400px;
        margin: 0 -4rem;
    }

    .imageProfile{
        justify-content: space-between;
    }
}

@media screen and (min-width: 1440px) {
    .imageProfile {
        padding: 0 8rem;
    }

    .photo {
        width: 500px;
        height: 560px;
        object-fit: cover;
        border-radius: 40px 0;
        justify-self: flex-end;
    }
}

