.main {
    max-width: 1440px;
    padding: 0 2rem;
    margin: 0 auto;
    flex: 1;
}
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .main {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 1440px) {
    .main {
        padding: 0 8rem;
    }
}
